<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div class="container my-2">

    <h1>Employees Management System</h1>

    <a th:href = "@{/showAllEmployees}" class="btn btn-primary btn-sm mb-3"> Employee Section </a>
    <a th:href = "@{/showAllManagers}" class="btn btn-primary btn-sm mb-3"> Manager Section</a>
    <a th:href = "@{/showAllDepartments}" class="btn btn-primary btn-sm mb-3"> Department Section</a>

</div>


<div class="container my-2">
    <h2>Employees List</h2>
    <h6>(Showing Top 5 records only)</h6>

    <a th:href = "@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3"> Add Employee </a>

<!--    <form th:action="${listEmployees}" method="get">-->
<!--        <input type="text" placeholder="Search.." name="keyword">-->
<!--        <button type="submit">Go</button>-->
<!--    </form>-->


    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
                    Employee First Name</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
                    Employee Last Name</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                    Employee Email</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=department&sortDir=' + ${reverseSortDir}}">
                    Employee Department</a>
            </th>
<!--            <th> Actions </th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${listEmployees}">
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.department}"></td>
<!--            <td> <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-primary">Update</a>-->
<!--                <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>

<!--    <div th:if = "${totalPages > 1}">-->
<!--        <div class = "row col-sm-10">-->
<!--            <div class = "col-sm-2">-->
<!--                Total Rows: [[${totalItems}]]-->
<!--            </div>-->
<!--            <div class = "col-sm-1">-->
<!--     <span th:each="i: ${#numbers.sequence(1, totalPages)}">-->
<!--      <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>-->
<!--      <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;-->
<!--     </span>-->
<!--            </div>-->
<!--            <div class = "col-sm-1">-->
<!--                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>-->
<!--                <span th:unless="${currentPage < totalPages}">Next</span>-->
<!--            </div>-->

<!--            <div class="col-sm-1">-->
<!--                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>-->
<!--                <span th:unless="${currentPage < totalPages}">Last</span>-->
<!--            </div>-->
        </div>
    </div>
</div>


<!-- Table 2 -->
<div class="container my-2">
    <h2>Managers List</h2>
    <h6>(Showing Top 5 records only)</h6>

    <a th:href = "@{/showNewManagerForm}" class="btn btn-primary btn-sm mb-3"> Add Manager </a>

<!--    <form th:action="${listManagers}" method="get">-->
<!--        <input type="text" placeholder="Search.." name="keyword">-->
<!--        <button type="submit">Go</button>-->
<!--    </form>-->


    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/page1/' + ${currentPageM} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
                    M First Name</a>
            </th>
            <th>
                <a th:href="@{'/page1/' + ${currentPageM} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
                    M Last Name</a>
            </th>
            <th>
                <a th:href="@{'/page1/' + ${currentPageM} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                    M Email</a>
            </th>
            <th>
                <a th:href="@{'/page1/' + ${currentPageM} + '?sortField=department&sortDir=' + ${reverseSortDir}}">
                    M Department</a>
            </th>
<!--            <th> Actions </th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="manager : ${listManagers}">
            <td th:text="${manager.firstName}"></td>
            <td th:text="${manager.lastName}"></td>
            <td th:text="${manager.email}"></td>
            <td th:text="${manager.department}"></td>
<!--            <td> <a th:href="@{/showFormForUpdateM/{id}(id=${manager.id})}" class="btn btn-primary">Update</a>-->
<!--                <a th:href="@{/deleteManager/{id}(id=${manager.id})}" class="btn btn-danger">Delete</a>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>

<!--    <div th:if = "${totalPages > 1}">-->
<!--        <div class = "row col-sm-10">-->
<!--            <div class = "col-sm-2">-->
<!--                Total Rows: [[${totalItems}]]-->
<!--            </div>-->
<!--            <div class = "col-sm-1">-->
<!--     <span th:each="i: ${#numbers.sequence(1, totalPages)}">-->
<!--      <a th:if="${currentPage != i}" th:href="@{'/pageM/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>-->
<!--      <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;-->
<!--     </span>-->
<!--            </div>-->
<!--            <div class = "col-sm-1">-->
<!--                <a th:if="${currentPage < totalPages}" th:href="@{'/pageM/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>-->
<!--                <span th:unless="${currentPage < totalPages}">Next</span>-->
<!--            </div>-->

<!--            <div class="col-sm-1">-->
<!--                <a th:if="${currentPage < totalPages}" th:href="@{'/pageM/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>-->
<!--                <span th:unless="${currentPage < totalPages}">Last</span>-->
<!--            </div>-->
        </div>
    </div>

</div>

<!--&lt;!&ndash; Table 3 &ndash;&gt;-->
<!--<div class="container my-2">-->
<!--    <h2>Departments List</h2>-->

<!--    <a th:href = "@{/showNewDepartmentForm}" class="btn btn-primary btn-sm mb-3"> Add Department </a>-->

<!--    <form th:action="${listDepartments}" method="get">-->
<!--        <input type="text" placeholder="Search.." name="keyword">-->
<!--        <button type="submit">Go</button>-->
<!--    </form>-->


<!--    <table border="1" class = "table table-striped table-responsive-md">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>-->
<!--                <a th:href="@{'/page2/' + ${currentPageD} + '?sortField=departmentName&sortDir=' + ${reverseSortDir}}">-->
<!--                    Department Name</a>-->
<!--            </th>-->

<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="department : ${listDepartments}">-->
<!--            <td th:text="${department.departmentName}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!--    <div th:if = "${totalPages > 1}">-->
<!--        <div class = "row col-sm-10">-->
<!--            <div class = "col-sm-2">-->
<!--                Total Rows: [[${totalItems}]]-->
<!--            </div>-->
<!--            <div class = "col-sm-1">-->
<!--                <a th:if="${currentPage < totalPages}" th:href="@{'/pageD/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>-->
<!--                <span th:unless="${currentPage < totalPages}">Next</span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->

</body>
</html>
